<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acs.admin.ds.dao.NotifyDao">

	<resultMap id="BaseResultMap" type="com.acs.admin.ds.entity.Notify">
        <id column="id" jdbcType="INTEGER" property="id"/>
		<result column="id" jdbcType="INTEGER" property="id"/>
		<result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
		<result column="user_id" jdbcType="INTEGER" property="userId"/>
		<result column="content" jdbcType="VARCHAR" property="content"/>
	</resultMap>

	<sql id="Base_Column_List">
        		id,
		insert_time,
		update_time,
		user_id,
		content
    </sql> 

    <select id="find" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from notify
        where id = #{id}
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from notify
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.acs.admin.ds.entity.Notify" useGeneratedKeys="true" keyProperty="id">
        insert into notify
        <trim prefix="(" suffix=")" suffixOverrides=",">
            
            <if test="id != null">
            	id,
            </if>

            <if test="insertTime != null">
            	insert_time,
            </if>

            <if test="updateTime != null">
            	update_time,
            </if>

            <if test="userId != null">
            	user_id,
            </if>

            <if test="content != null">
            	content,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            
            <if test="id != null">
                #{id},
            </if>

            <if test="insertTime != null">
                #{insertTime},
            </if>

            <if test="updateTime != null">
                #{updateTime},
            </if>

            <if test="userId != null">
                #{userId},
            </if>

            <if test="content != null">
                #{content},
            </if>

        </trim>
    </insert>


    <update id="update" parameterType="com.acs.admin.ds.entity.Notify">
        update notify
        <set>
            
            <if test="id != null">
                and id = #{id}
            </if>

            <if test="insertTime != null">
                and insert_time = #{insertTime}
            </if>

            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>

            <if test="userId != null">
                and user_id = #{userId}
            </if>

            <if test="content != null">
                and content = #{content}
            </if>

        </set>
        where id = #{id}
    </update>
</mapper>
