<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.acs.admin.ds.dao.SysRoleDao">

    <resultMap id="BaseResultMap" type="com.acs.admin.ds.entity.SysRole">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="insert_time" jdbcType="TIMESTAMP" property="insertTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
		insert_time,
		update_time,
		role_name
    </sql>

    <select id="find" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_role
        where id = #{id}
    </select>

    <select id="findAll" resultType="com.acs.admin.ds.entity.SysRole">
        select
        <include refid="Base_Column_List"/>
        from sys_role
    </select>

    <delete id="delete" parameterType="java.lang.Integer">
        delete
        from sys_role
        where id = #{id}
    </delete>

    <insert id="insert" parameterType="com.acs.admin.ds.entity.SysRole" useGeneratedKeys="true" keyProperty="id">
        insert into sys_role
        <trim prefix="(" suffix=")" suffixOverrides=",">

            <if test="id != null">
                id,
            </if>

            <if test="insertTime != null">
                insert_time,
            </if>

            <if test="updateTime != null">
                update_time,
            </if>

            <if test="roleName != null">
                role_name,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">

            <if test="id != null">
                #{id},
            </if>

            <if test="insertTime != null">
                #{insertTime},
            </if>

            <if test="updateTime != null">
                #{updateTime},
            </if>

            <if test="roleName != null">
                #{roleName},
            </if>

        </trim>
    </insert>


    <update id="update" parameterType="com.acs.admin.ds.entity.SysRole">
        update sys_role
        <set>

            <if test="id != null">
                and id = #{id}
            </if>

            <if test="insertTime != null">
                and insert_time = #{insertTime}
            </if>

            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>

            <if test="roleName != null">
                and role_name = #{roleName}
            </if>

        </set>
        where id = #{id}
    </update>
</mapper>
